@model IEnumerable<InformacjeTurystyczne.Models.Tabels.Shelter>

<h1>Shelter</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdShelter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPlaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Places)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOpen)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IdRegion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdShelter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPlaces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Places)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOpen)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Region.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdShelter">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdShelter">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdShelter">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>